<!DOCTYPE html>
<html>
<body>
<h1>Prediction of Iris </h1>
<form action="name" method="post">
    <label for="sl">Enter Sepal Length: </label>
    <input type="text" id="s1" name="sl"  required>
    <br>
    <br>
    <label for="sw">Enter Sepal Width: </label>
    <input type="text" id="sw"  name="sw"  required>
    <br>
    <br>
    <label for="pl">Enter Petal Length: </label>
    <input type="text" id="pl" name="pl"  required>
    <br>
    <br>
    <label for="pw">Enter Petal width: </label>
    <input type="text" id="pw" name="pw"  required>
    <br>
    <br>
    <input type="submit">
</form>

</body>
</html>